.DS_Store

venv/
env/
.vs/
.vscode/
__pycache__/

machine-learning/neuralnetworksanddeeplearning/data/

# ignore leetcode 's debug
algorithm/leetcode/**/debug
# tmp file for golang debug
__debug_bin
